name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: elyesghazel
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Zurich
          
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_followup: yes
          plugin_lines: yes
